
body {
  text-align : center; 
  background : coral
}
p {
  font-size : 30px;
  font-family : Monospace; 
}
#soccer {
 border-radius : 50%; 
  width : 200px; 
}
h1 {
  background : white; 
  color : coral; 
  font-size : 50px; 
  font-family : monospace; 
}
.links:hover{
    background-color : Orange;
}
  .links {
    float : left;
    color : blue; 
    text-decoration : none; 
    padding-top : 5px; 
    padding-bottom:  5px;
    padding-left: 9px;
    padding-right: 9px;
    font-family : fantasy; 
    font-size : 30px;
    background-color : aquamarine; 
    border-radius: 30%; 
    border-style : solid;
}
.menu {
    list-style: none; 
    font-family : Monospace;
    position: bsolute; 
    top : 10px; 
    right : 30px; 
    z-index: 10;
    cursor : pointer;
}
.profile {
  border-radius : 50%; 
  width : 200px;
}
#Heading1 {
  color : White;
  FOnt-size : 50px;
}
#Heading2 {
  color : White;
  font-size : 40px;
}
#Heading3 {
  color : white;
  Font-size: 35px;
}
#heading4 {
  FOnt-size : 60px;
  font-weight : bold; 
}
.line {
    height : 7px; 
    background-color : black; 
    width : 70px; 
    margin : 7px; 
  padding-left : 1700px; 
}
h2 {
  background : white; 
  color : coral; 
  font-size : 50px; 
  font-family : monospace; 
}
h3 {
   background : white; 
  color : coral; 
  font-size : 50px; 
  font-family : monospace; 
}
html {
    scroll-behavior: smooth; 
}

